@import './base.css';

#app {
   font-weight: normal;
}


a {
  transition: 0.4s;
  padding: 3px;
  text-decoration: none;
}

.white {
  color: rgb(221, 224, 228);
}


.imgindex{
  margin-top: -50%;
  }

.blue {
  text-decoration: none;
  color: rgb(21, 32, 185);
  transition: 0.4s;
  padding: 3px;
}


@media (hover: hover) {
  a:hover {
    background-color: hsla(246, 77%, 49%, 0.521);
    border-radius: 3%;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    
  }

  #app {
    display: grid;
 
  }
  button:hover {
    background-color: hsla(246, 77%, 49%, 0.521);
    border-radius: 3%;
  }


}

